---
const currentYear = new Date().getFullYear();
---

<footer>
    <p>&copy; {currentYear} Your Name. All rights reserved.</p>
</footer>

<style>
    footer {
        padding: 1rem;
        background-color: #f1f1f1;
        text-align: center;
    }
</style>


